<p>
  {%trans%}Your API key is{%endtrans%} {{api_key}}
</p>
<p>
  {%trans%}Usage example{%endtrans%}:
</p>
<pre>
  <code>
    curl -H "Content-Type: application/hal+json" -H "x-drupal-api-key: {{api_key}}" {{base_url}}entity/log -d '{"_links": {"type": {"href": "{{base_url}}rest/type/log/temperature"}},"name": [{"value": "test"}]}'
  </code>
</pre>
