<p>
  {%trans%}Your API key is{%endtrans%} {{api_key}}
</p>
<p>
  {%trans%}Usage example{%endtrans%}:
</p>
<pre>
  <code>
    curl -H "x-drupal-api-key: {{api_key}}" {{post_url}} -d '// @todo'
  </code>
</pre>
